#imageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 580px;
    border: 1px solid #ccc;
    user-select: none;
    -moz-user-select: none;
}
#displayedImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform-origin: 0 0;
}
#measurementCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Ensure the canvas is above the image */
    pointer-events: none; /* This allows clicks to pass through to the image */
}
.controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: flex-start; /* Align them to the left */
}

#imageInput,
#resetButton {
    margin-bottom: 10px; /* Add space between the input and button */
}

#helpText {
    margin-top: 10px;
    font-style: italic;
}
